# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Logs
*.log

# Environment variables
.env

# Build files
build/
dist/

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite database
*.sqlite3